In [54]:
import json
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns

In [33]:
fact_table = pd.read_csv('fact_table.csv')

In [ ]:
fact_table.info()

In [ ]:
fact_table.head()

In [18]:
trans = pd.read_csv('Trans_dim.csv')

In [ ]:
trans.head()

In [20]:
time_dim = pd.read_csv('time_dim.csv')

In [ ]:
time_dim.head()

In [24]:
store = pd.read_csv('store_dim.csv')

In [ ]:
store.head()

In [28]:
item = pd.read_csv('item_dim.csv', encoding='latin-1')

In [ ]:
item.head()

In [ ]:
item[item['item_key'] == 'I00158']

In [31]:
customer = pd.read_csv('customer_dim.csv', encoding='latin-1')

In [ ]:
customer.head()

In [ ]:
# merge tables

In [46]:
df = pd.merge(fact_table, time_dim, how='inner')

In [47]:
df = pd.merge(df, trans, how='inner')

In [48]:
df = pd.merge(df, store, how='inner')

In [49]:
df = pd.merge(df, item, how='inner')

In [50]:
df = pd.merge(df, customer, how='inner')

In [ ]:
df.info()

In [ ]:
df.head()

In [57]:
df.drop_duplicates()

In [69]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
# check for nulls

In [ ]:
# Unit column

In [ ]:
df[df['unit'].isnull()].sort_values('item_key')

In [ ]:
item[item['item_key'] == 'I00158']

In [71]:
df['unit'].fillna('Frito Bold Flavors Variety', inplace=True)

In [ ]:
df.info()

In [79]:
df.head()

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price,date,hour,day,week,month,quarter,year,trans_type,bank_name,division,district,upazila,item_name,desc,man_country,supplier,name,contact_no,nid
0,P026,C004510,T049189,I00177,S00307,1,ct,35.0,35.0,2016-04-26 17:13:00,17,26,4th Week,4,Q2,2016,card,Premier Bank Limited,DHAKA,JAMALPUR,ISLAMPUR,M&M Peanut Candy 1.7 oz,Food - Chocolate,Netherlands,Bolsius Boxmeer,priya,8801529462805,4543429591184
1,P001,C004510,T082988,I00062,S00428,11,cans,37.0,407.0,2018-11-05 07:18:00,7,11,2nd Week,5,Q2,2018,cash,None,CHITTAGONG,CHITTAGONG,ANOWARA,Red Bull 16oz,Beverage - Energy/Protein,Bangladesh,DENIMACH LTD,priya,8801529462805,4543429591184
2,P018,C004510,T074754,I00196,S00378,8,ct,16.0,128.0,2015-11-29 10:19:00,10,29,4th Week,11,Q4,2015,card,Mutual Trust Bank Limited,DHAKA,RAJBARI,KALUKHALI,Fiber One 90 Calorie Fudge Brownies,Food - Healthy,poland,CHROMADURLIN S.A.S,priya,8801529462805,4543429591184
3,P011,C004510,T06276,I00223,S00367,8,ct,13.5,108.0,2016-11-10 23:06:00,23,11,2nd Week,10,Q4,2016,card,Eastern Bank Limited,DHAKA,NETRAKONA,BARHATTA,Lance Variety Cracker Packs,Food - Snacks,Bangladesh,DENIMACH LTD,priya,8801529462805,4543429591184
4,P034,C004510,T08402,I00229,S00535,9,ct,13.0,117.0,2017-10-17 23:17:00,23,17,3rd Week,10,Q4,2017,card,United Commercial Bank Ltd,BARISAL,BHOLA,LALMOHAN,Kellogg's Cereals Assortment Pack,Food - Sweets,Germany,Friedola 1888 GmbH,priya,8801529462805,4543429591184